#ClientMachineId, DcId, PublicIp, instanceNum, targetDcId (for EPaxos and Mencius clients to propose requests to)
1 northcentralus 23.96.237.155 1 eastus2
2 westus 138.91.72.179 1 westus
3 centralus 52.165.181.225 1 southcentralus
4 canadaeast 40.86.223.113 1 canadaeast
5 eastus2 52.252.116.156 1 eastus2
6 westcentralus 52.161.93.133 1 westus2
7 canadacentral 13.71.186.34 1 canadaeast
8 westus2 52.148.129.161 1 westus2
9 southcentralus 23.98.133.236 1 southcentralus
